blinker==1.9.0
certifi==2026.2.25
click==8.3.1
cloudinary==1.44.1
colorama==0.4.6
coverage==7.13.5
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.3.2
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pluggy==1.6.0
PyMySQL==1.1.0
pytest==8.0.0
pytest-cov==7.1.0
pytest-mock==3.15.1
six==1.17.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.7
WTForms==2.3.3

locust~=2.43.4
selenium~=4.43.0