<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TRANG CHỦ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">WEB COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">AI COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">MOBILE COURSES</a>
                </li>
            </ul>

            {% if current_user.is_authenticated%}
            <div class="d-flex m-2">
                <a class="nav-link active" href="/login">
                    <img src="{{current_user.avatar}}" width="25">
                    Chào {{current_user.name}}!
                </a>
            </div>
            <div class="d-flex m-2">
                <a href="/logout" class="btn btn-outline-light">Đăng xuất</a>
            </div>
            <div class="d-flex m-2">
                <a href="/history" class="btn btn-outline-light">Lịch sử đăng ký môn học</a>
            </div>
            {% else %}
            <div class="d-flex m-2">
                <a href="/login" class="btn btn-outline-light">Đăng nhập</a>
            </div>
            <div class="d-flex m-2">
                <a href="/register" class="btn btn-outline-light">Đăng ký</a>
            </div>
            {% endif %}

            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>

        </div>
    </div>
</nav>