{%extends 'layout/base.html'%}
{% block content %}

{%if het_han_dang_ky%}
<div class="container-fluid mt-4 mb-4">
    <div class="p-4 text-center rounded-3 shadow-sm border border-primary border-1" style="background-color: #e3f2fd;">
        <h2 class="text-success fw-bold">ĐĂNG KÝ HỌC PHẦN HỌC KỲ I (2026 - 2027)</h2>
        <p class="fs-5 text-muted mb-2">Cổng đăng ký đã đóng</p>
    </div>
</div>
{%else%}

<div class="container-fluid mt-4 mb-4">
    <div class="p-4 text-center rounded-3 shadow-sm border border-primary border-1" style="background-color: #e3f2fd;">
        <h2 class="text-success fw-bold">ĐĂNG KÝ HỌC PHẦN HỌC KỲ I (2026 - 2027)</h2>
        <p class="fs-5 text-muted mb-2">Cổng đăng ký mở từ
            <strong>{{ NGAY_BAT_DAU_DANG_KY.strftime('%H:%M ngày %d/%m/%Y') }}</strong> đến
            <strong>{{ HAN_DANG_KY.strftime('%H:%M ngày %d/%m/%Y') }}</strong>
        </p>
        <div class="alert alert-warning d-inline-block py-2 px-4 mb-0">
            <i class="fas fa-exclamation-triangle me-2"></i>
            <strong>Lưu ý:</strong> Theo quy chế, sinh viên phải đăng ký tối thiểu
            <strong>{{TIN_CHI_TOI_THIEU}}</strong> tín chỉ và không quá <strong>{{TIN_CHI_TOI_DA}}</strong> tín chỉ trong học kỳ chính
        </div>
    </div>
</div>

<h2 class="text-center mb-4">DANH SÁCH CÁC LỚP HỌC ĐANG MỞ</h2>
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive shadow-sm rounded">
                <table class="table table-sm able-hover table-bordered align-middle mb-0">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>Mã MH</th>
                        <th>Tên môn học</th>
                        <th>Tín chỉ</th>
                        <th>Lịch học (Thứ - Ca)</th>
                        <th>Phòng học</th>
                        <th>Sĩ số</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in classes %}
                    <tr class="text-center">
                        <td><strong>{{ c.mon_hoc_id }}</strong></td>
                        <td class="text-primary fw-bold">{{ c.mon_hoc.name }}</td>
                        <td>{{ c.mon_hoc.so_tin_chi }}</td>
                        <td>Thứ {{ c.thu }} - Ca {{ c.ca_hoc }} </td>
                        <td>{{ c.phong_hoc }}</td>
                        <td>
                            <span class="badge bg-success">{{ c.ds_dang_ky|length }} / {{ c.so_luong_max }}</span>
                        </td>
                        <td class="text-center">
                            {% if current_user.is_authenticated %}


                                {% if c.id in registered_ids %}
                                <button class="btn btn-sm btn-primary fw-bold px-3 disabled" disabled>
                                    Đã đăng ký lớp học
                                </button>


                                {% elif c.ds_dang_ky|length >= c.so_luong_max %}
                                <button class="btn btn-sm btn-secondary fw-bold px-3 disabled" disabled>
                                    Hết chỗ
                                </button>


                                {% elif session.get('cart') and c.id|string in session.get('cart') %}
                                <button class="btn btn-sm btn-success fw-bold px-3 disabled" disabled>
                                    Đã ghi danh
                                </button>

                                {% else %}
                                <button class="btn btn-sm btn-outline-success fw-bold px-3"
                                        onclick="chonMonHoc({{ c.id }}, '{{ c.mon_hoc.name }}', {{ c.mon_hoc.so_tin_chi }}, '{{ c.thu }}', '{{ c.ca_hoc }}', '{{ c.phong_hoc }}', this)">
                                    Ghi danh
                                </button>
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%if pages>1%}
    <div class="d-flex justify-content-center">
        <ul class="pagination mt-3 ">
            {%for i in range(1, (pages+1))%}

            <li class="page-item {% if i == current_page %}active{% endif %}">
                <a class="page-link {% if i == current_page %}bg-success border-success text-white fw-bold{% endif %}"
                   href="/?page={{i}}">
                    {{i}}
                </a>
            </li>

            {%endfor%}
        </ul>
    </div>
    {%endif%}
</div>
{%endif%}
{%endblock%}